.card {
  border-radius: 10px;
}

.form-label {
  font-weight: 600;
}

.btn-success {
  background-color: #94e900;
  border: none;
}

.btn-success:hover {
  background-color: #7ad000;
}

a.text-success:hover {
  text-decoration: underline;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
}